/*Margenes forzados (es una mala practica? no me acuerdo)*/
*{
    margin:0;
    padding: 0;
    box-sizing:border-box
}

body,html{
    height: 100%;
}

/*CSS NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
  
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/*CSS para contenido que no sea navbar*/
.content{
    width: 100%;
    height: 100%;
    /*Force el margen y padding de top para que el contenido
    no estuviera detras del navbar*/
    margin-top: 23px;
    padding-top: 23px;
}


/*Galeria Hero*/
.mySlides {
    display: none;
}

.imagenes{
    height: 100%;
    width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.ubicacion-puntos{
    text-align:center;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
/*Fin Galeria Hero*/

/*Experience*/
.proyecto {
    padding: 10px;
    height: 15em;
    width: 33.33%;
    float: left;
    border-radius: 10px;
    background-color: cadetblue;
}


.experience:after {
    content: "";
    display: table;
    clear: both;
}

.contenido-proyecto{
    padding: 10px;
    opacity: 0.7;
    border: 1px solid black;
    background-color: white;
    height: 100%;
    border-radius: 10px;
}

.contenido-proyecto:hover{
    opacity: 1;
}

.contenido-proyecto span,h2 {
    font-weight: bold;
    color: #000000;
}

#proyecto1{
    background-image: url(javaLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

#proyecto2{
    background-image: url(frontback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#proyecto3{
    background-image: url(laberinto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 600px) {
    .proyecto {
      width: 100%;
    }
  }
/*Fin Experience*/

/*About me*/
.about:after {
    content: "";
    display: table;
    clear: both;
}

.img-about{
    background-image: url(avatar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    width: 33%;
    height: 15em;
    border-radius: 10px;
    background-color: #717171;
}

.contenido-about{
    float: left;
    width: 66%;
    padding: 2em;
    height: 15em;
    border-radius: 10px;
    background-color: #bbb;
}
  
  